*{
    padding: 0;
    margin: 0;
    font-family:'poppins',sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;
    outline: none;
    border: none;
}

section{
    padding: 5rem 10%;
}

body{
    background: white;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo a span .m{
    color: black;
}

.header .navbar a{
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.sub-header .image{
    object-fit: cover;
    max-height: 200px;
    width: 100%;
}
.sub-header .image img{
    width: 100%;
    height: 900px;
}

.sub-header .header-bloc{
    position: absolute;
    background: white;
    max-width: 400px;
    max-height: 100%;
    border-radius: 10px;
    width: 512px;
    height: 194px;
    left: 199px;
    top: 279px;
}

 .sub-header .header-bloc .logo{
    width: 304px;
    height: 71px;
    left: 207px;
    top: 215px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
 }
 
