*{
    padding: 0;
    margin: 0;
    font-family:'poppins',sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-transform: capitalize;
    outline: none;
    border: none;
}

section{
    padding: 5rem 10%;
}

body{
    background: white;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header .navbar a{
    color: black;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
}
.sub-header .image{
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}
.sub-header .image img{
    width: 100%;
    height: 35rem;
}

.sub-header .header-bloc{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, .8);
    border: 1px solid black;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    left: 199px;
    top: 279px;
}

 .sub-header .header-bloc .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
 }

.sub-header .header-bloc .mot{
    color: black;
  
    font-size: 20px;
    font-weight: 400;
}
 
 .btn{
    background: linear-gradient(bisque, pink);
    font-size: 20px;
    width: 30%;
    height: 15%;
    border-radius: 25px;
    margin-top: 10px;
}
.btn:hover{
    background: linear-gradient rgb(238, 135, 9), rgb(187, 218, 50);
}